$font-page:10;

$greyNatural: #8c8c8c;

$fontWeights:400,
500,
600,
700,
800,
900;

$grids:5,
2,
3,
4;
$gaps:1,
12,
24,
2,
27,
36;

$border-radius: 1,
12,
08;

$index: 1,
2,
1111,
2222,
3333,
4444,
5555,
6666,
7777,
8888,
9999;
$fontSizes:64,
48,
36,
28,
24,
2,
18,
16,
14,
12;
$paddings:4,
6,
8,
9,
1,
2,
4,
6,
8,
2,
22,
24,
26,
28,
3;
$border-w:1px;