@import "../variables/variables";
.d-grid {
  display: grid;
}

@each $var in $grids {
  .grid-#{$var} {
    display: grid;
    grid-template-columns: repeat(#{$var}, 1fr);
  }
}

@media (max-width: 767px) {
  @each $var in $grids {
    .grid-#{$var} {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (min-width: 767px) and (max-width: 768px) {
  @each $var in $grids {
    .grid-#{$var} {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}



@each $var in $gaps {
  .grid-gaps-#{$var} {
    grid-gap: #{$var/$font-page}rem;
  }
}